body {
  margin: 0 auto;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 11pt;
}

.wrapper {
  padding: 1.2rem;
  max-width: 850px;
  margin: 0 auto;
}

.header {
  background-color: #444;
  color: #fff;
  text-align: center;
}

.title {
  font-size: 1.1rem;
}
.title span {
  font-family: 'Noto Sans';
  font-weight: bold;
  font-size: 1.3rem;
}

.logo {
  width: 150px;
}

h2, h3 {
  font-family: 'Noto Sans';
  font-size: 1.8rem;
  text-align: left;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

a {
  color: #f9a825;
}

p {
  text-align: left;
  line-height: 1.5rem;
}

.next_event {
  background-color: #222;
  text-align: left;
}
.next_event h3 {
  padding: 2rem 2rem 0 2rem;
}
.next_event ul {
  padding: 0 2rem 1rem 2rem;
  list-style-type: none;
}
.next_event ul li {
  margin-bottom: 0.5rem;
}
.next_event ul li strong {
  font-size: 1rem;
}

.next_event_register {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.next_event_register ul li strong {
  font-family: 'Noto Sans';
  font-weight: bold;
}
.next_event_register a {
  font-family: 'Noto Sans';
  font-weight: bold;
  text-decoration: none;
  color: #000;
  background-color: #FFEB3B;
  padding: 0.5rem;
  flex-grow: 1;
  text-align: center;
}
.next_event_register a:first-child {
  border-right: 1px solid #000;
}

.faq {
  background-color: #fafafa;
}
.code {
  background-color: #eaeaea;
}

@media screen and (min-width: 950px) {
  .container {
    display: flex;
    flex-direction: row;
  }
  .container_logo, .container_header {
    padding: 1rem;
  }
  .faq .wrapper, .code .wrapper {
    padding-left: 200px;
    max-width: 650px;
  }
}
